anthropic>=0.45.2
crewai>=0.11.0
duckduckgo-search>=4.1.1
google-cloud-aiplatform>=1.79.0
google-generativeai>=0.8.4
hatch>=1.14.0
langchain>=0.1.0
langchain-community>=0.0.10
langchain-google-vertexai>=2.0.7
langchain-ollama>=0.2.3
langchain-openai>=0.0.2
litellm>=1.59.8
openai>=1.0.0
pyautogen>=0.7.3
pydantic>=2.10.6
pyjwt>=2.10.1
python-dotenv>=1.0.1
pyyaml>=6.0.2
tenacity>=9.0.0
vertexai>=1.43.0
